<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    
    <div id="card">
      <ion-card>
        <img alt="Naruto"
          src="https://cdn1-production-images-kly.akamaized.net/-Dyuj_YgNiqutSkZJrZro5pa_3I=/1200x675/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/653825/original/naruto-anime-naruto-33923256-1920-1080.jpg" />
        <ion-card-header>
          <ion-card-title>Naruto Shippuden</ion-card-title>
          <ion-card-subtitle>2007-2017 Finished</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          It has been two and a half years since Naruto Uzumaki left Konohagakure, the Hidden Leaf Village, for intense training following events which fueled his desire to be stronger.
        </ion-card-content>
        <ion-button class="button-main" color="primary">lihat</ion-button>
      </ion-card>
      <ion-card>
        <img alt="One Piece"
          src="https://cdn.rri.co.id/berita/Denpasar/o/1723638153638-Picture1/zb3usfoj564gcvg.jpeg"/>
        <ion-card-header>
          <ion-card-title>One Piece</ion-card-title>
          <ion-card-subtitle>On going</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Barely surviving in a barrel after passing through a terrible whirlpool at sea, carefree Monkey D. Luffy ends up aboard
          a ship under attack by fearsome pirates.
        </ion-card-content>
        <ion-button class="button-main" color="primary">lihat</ion-button>
      </ion-card>
      <ion-card>
        <img alt="Bleach"
          src="https://static.bandainamcoent.eu/high/bleach/bleach-rebirth-of-souls/00-page-setup/BRS-header-mobile.jpg"/>
        <ion-card-header>
          <ion-card-title>Bleach</ion-card-title>
          <ion-card-subtitle>On Going</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Ichigo Kurosaki is an ordinary high schooler—until his family is attacked by a Hollow, a corrupt spirit that seeks to
          devour human souls.
        </ion-card-content>
        <ion-button class="button-main" color="primary">lihat</ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>