<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-avatar>
        <img src="assets/img/WhatsApp Image 2024-08-29 at 17.40.31_928de37f.jpg" />
      </ion-avatar>
      <ion-text>Hendra Latieful Maajid (H1D022018)</ion-text>
    </ion-item>
    <ion-item class="settings">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Bookmark</ion-label>
    </ion-item>
    <ion-item class="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>
  </ion-list>

</ion-content>